body {
	width: 100%;
	max-width: 100%;
	height: 100%;
}

.bg{
	background-color: #3e53a4;
	background: -webkit-linear-gradient(-45deg, #4cc6f3 0%, #32b1e5 10%, #254d9d 53%, #bc278d 100%);
	background: -webkit-linear-gradient(315deg, #4cc6f3 0%, #32b1e5 10%, #254d9d 53%, #bc278d 100%);
	background: linear-gradient(135deg, #4cc6f3 0%, #32b1e5 10%, #254d9d 53%, #bc278d 100%);
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
}

#controlbar{
	position: absolute;
	bottom: 20px;
	right: 20px;
	padding: 0 8px;
	margin-bottom: 0px;
}

.wrap {
	width: 100%;
	max-width: 1170px;
	overflow: hidden; /* because children will be floated */
}

#slides{
	height: 100%;
	width: 1000000%;
	-webkit-transition: margin-left 0.5s linear; /* Changed here */
    -moz-transition: margin-left 0.5s linear;
    -o-transition: margin-left 0.5s linear;
    transition: margin-left 0.5s linear;
}

#slides > div {
	max-width: 1170px;
	min-width: 970px;
	background-color: rgba(255,255,255,1);
	float: left;
  	height: 600px;
  	padding: 40px;
  	position: relative;
}

.signin-footer {
	margin-top: 20px;
}

.container,
.row {
	min-width: 970px;
}

img.background-image {
	position: absolute;
	top: -40px;
	left: -40px;
}

.notransition {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}

.slide-title {
	font-size: 4em;
	margin-top: 0px;
}

.slide-list li {
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.slide-list li ul li {
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.slide-list-list-group {
	font-size: 26px;
}

.slide-number {
	position: absolute;
	bottom: 15px;
	right: 20px;
	margin: 0;
	vertical-align: text-bottom;
}

#button_controls {
	position: absolute;
	top: 20px;
	right: 20px;
}