<div class="col-md-12">

   <h1 class="text-center slide-title">Slide 1 Title</h1>

   <ul class="col-lg-10 col-lg-offset-1 col-md-12 slide-list">
		<li>Some sample text</li>
		<li>Some sample text</li>
		<li>Some sample text</li>
		<li>Some sample text</li>
	</ul>

</div>

<p class="slide-number text-right"></p>