<div class="col-md-12">

	<h1 class="text-center slide-title">Summary</h1>

	<ul class="col-lg-10 col-lg-offset-1 col-md-12 slide-list">
		<li>TypeScript is a statically type language that compiles to plain JavaScripts</li>
		<li>Adds a number of useful language constructs JavaScript</li>
		<li>Supports various implementations of modules in JavaScript</li>
		<li>Feature rich compiler gives us control over the output and allows automation of compilation</li>
		<li>Mechanism to use external JavaScript libraries in a strongly typed manner through declaration files</li>
		<li>Helps us the write cleaner, more organised, resuable code throught the use of well establish OOP principles</li>
	</ul>

</div>

<p class="slide-number text-right"></p>