<div class="col-md-12">

	<img src="slides/typescript_tech_lunch/images/main.jpg" class="background-image">

	<a style="position:absolute;z-index:0;font-size:40px;top:75px;left:40px;text-decoration:underline;" href="http://www.typescriptlang.org" target="_blank">typescriptlang.org</a>

</div>