<div class="col-md-12">

   <h1 class="text-center slide-title">Overview</h1>

   <ul class="col-lg-10 col-lg-offset-1 col-md-12 slide-list">
		<li>What Is TypeScript?</li>
		<li>Why Is TypeScript Useful?</li>
		<li>Hello World! (Demo)</li>
		<li>Types &amp; Language Constructs</li>
		<li>The TypeScript Compiler</li>
		<li>TypeScript &amp; OOP</li>
		<li>External JavaScript Libraries &amp; Declaration Files (jQuery Demo)</li>
	</ul>


</div>

<p class="slide-number text-right"></p>