<div class="col-md-12">

   <h1 class="text-center slide-title">What Is TypeScript?</h1>

   <ul class="col-lg-10 col-lg-offset-1 col-md-12 slide-list">
		<li>Open Source Language Project Started by Microsoft</li>
		<li>Statically Typed Compiled Language</li>
		<li>Superset of JavaScript That Compiles to Plain JavaScript</li>
		<li>Brings Core Object-Oriented Programming Concepts to JavaScript</li>
		<li>More Testable Than JavaScript</li>
		<li>Equipped to Integrate With Third-Party Libraries</li>
	</ul>

</div>

<p class="slide-number text-right"></p>