<div class="col-md-12">

   <h1 class="text-center slide-title">Why Is TypeScript Useful?</h1>

   <ul class="col-lg-10 col-lg-offset-1 col-md-12 slide-list">
		<li>Static Typing Introduces Type Safety With Compliation</small></li>
		<li>Addition of Classes &amp; Modules Objects (Organization)</li>
		<li>Addition of Interface &amp; Generics to the Type System</li>
		<li>Public &amp; Private Members, Abstration &amp; Inheritance (OOP)</li>
		<li>Highly Configurable Compliation Step With Detailed Errors</li>
		<li>Existing JavaScript is Already TypeScript And Can Be Used Without Changes (few exceptions)</li>
		<li>Complex, better organized, more testable &amp; easier to debug</li>
	</ul>

</div>

<p class="slide-number text-right"></p>