<div class="col-md-12">

   <h1 class="text-center slide-title">Hello World!</h1>

	<div class="col-sm-6">
		<h2>TypeScript</h2>
		<pre style="height:255px;">
class Greeter {
  constructor( public name: string ) {
  }
  public greet(): void {
    var greeting: string = "Hello " + this.name + "!";
	document.body.innerHTML = greeting;
  }
}
var greeter = new Greeter( "Tech Lunch" );
greeter.greet();
		</pre>
	</div>

	<div class="col-sm-6">
		<h2>Compiled JavaScript</h2>
		<pre style="height:255px;">
var Greeter = (function () {
  function Greeter(name) {
    this.name = name;
  }
  Greeter.prototype.greet = function () {
    var greeting = "Hello " + this.name + "!";
    document.body.innerHTML = greeting;
  };
  return Greeter;
})();
var greeter = new Greeter("Tech Lunch");
greeter.greet();
		</pre>
	</div>

	<div class="text-center">
		<a class="btn btn-primary btn-lg text-center" style="margin-top:20px;" href="slides/typescript_tech_lunch/5_hello_world/index.html" target="_blank">View Demo</a>
	</div>

</div>

<p class="slide-number text-right"></p>