<div class="col-md-12">

   <h1 class="text-center slide-title">Static Type System</h1>

    <ul class="col-lg-10 col-lg-offset-1 col-md-12 slide-list">
		<li>Compile Time Type Checking</li>
		<li>IDE Code Suggestions &amp; Completion</li>
		<li>Type Is Infered Based On Inital Value If Not Specified (Loosly Typed)</li>
		<li>Fallback To Base Type "Any"</li>
		<li>Primitives, Objects, &amp; Type Parameters</li>
	</ul>

</div>

<p class="slide-number text-right"></p>