<div class="col-md-12">

   <h1 class="text-center slide-title">Static Type System <small><small>continued...</small></small></h1>

	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading">Primitives</div>
			<div class="panel-body">
				Basic types, as JavaScript plus void.
			</div>
			<ul class="list-group">
				<li class="list-group-item">Numbers</li>
				<li class="list-group-item">Stings</li>
				<li class="list-group-item">Boolean</li>
				<li class="list-group-item">Null</li>
				<li class="list-group-item">Undefined</li>
				<li class="list-group-item">Void</li>
			</ul>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading">Objects</div>
			<div class="panel-body">
				References to classes, interfaces and anonymous objects.
			</div>
			<ul class="list-group">
				<li class="list-group-item">Complex Set Members</li>
				<li class="list-group-item">Properties</li>
				<li class="list-group-item">Call Signatures</li>
				<li class="list-group-item">Constructor Signatuers</li>
				<li class="list-group-item">
					Index Signatures
					<br />
					<br />
					<pre>var a: {[index: number]: string};</pre>
				</li>
			</ul>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading">Type Parameters</div>
			<div class="panel-body">
				Used to reference generic types or when calling generic functions.
			</div>
			<ul class="list-group">
				<li class="list-group-item">
					e.g. Arrays
					<br />
					<br />
					<pre>var array1: string[] = [];</pre>
					<pre>var array2: Array<string> = [];</pre>
				</li>
			</ul>
		</div>
	</div>

</div>

<p class="slide-number text-right"></p>