<div class="col-md-12">

   <h1 class="text-center slide-title">Static Type System <small><small>continued...</small></small></h1>

   <ul class="col-lg-10 col-lg-offset-1 col-md-12 slide-list">
		<li>A Variables Type Is Set When It Is Declared</li>
		<li>A Variables Type Cannot Be Changed</li>
		<li>Types Add Zero Overhead At Runtime</li>
	</ul>

	<pre class="col-lg-10 col-lg-offset-1 col-md-12 slide-list">var myNum: number = 1;</pre>
	<pre class="col-lg-10 col-lg-offset-1 col-md-12 slide-list">var myString: string = "Hello TypeScript";</pre>
	<pre class="col-lg-10 col-lg-offset-1 col-md-12 slide-list">var myBool: boolean = true;</pre>
	<pre class="col-lg-10 col-lg-offset-1 col-md-12 slide-list">if( x != null && x != undefined ) { alert( x ); }</pre>
	<pre class="col-lg-10 col-lg-offset-1 col-md-12 slide-list">function(): void { var x: number = 2; }</pre>

</div>

<p class="slide-number text-right"></p>