<div class="col-md-12">

	<h1 class="text-center slide-title">Functions</h1>

	<ul class="col-lg-10 col-lg-offset-1 col-md-12 slide-list">
		<li>Typed Arguments &amp; Return Values</li>
	</ul>
	<pre class="col-lg-10 col-lg-offset-1 col-md-12 slide-list">
function add( x: number, y: number ): number {
	return x + y;
}
</pre>

	<ul class="col-lg-10 col-lg-offset-1 col-md-12 slide-list">
		<li>Optional Parameters</li>
	</ul>
	<pre class="col-lg-10 col-lg-offset-1 col-md-12 slide-list">
function add( x: number, y: number, z?: number ): number {
	if( z != undefined ) {
		return x + y + z;
	}
	return x + y;
}
</pre>

	<ul class="col-lg-10 col-lg-offset-1 col-md-12 slide-list">
		<li>Default Parameter Values As JavaScript</li>
	</ul>

</div>

<p class="slide-number text-right"></p>