<div class="col-md-12">

	<h1 class="text-center slide-title">Functions - Rest Parameter</h1>

	<h3 style="color:#4e4e4e;margin-bottom:40px;">The rest parameter is a unbound list of optional parameters that can be placed at the final argument position.</h3>

	<div class="col-sm-6">
		<h2>TypeScript</h2>
<pre>
function add( arg1: number, ...args: number[] ): number {
	var total = arg1;
	for( var i = 0; i < args.length; i++ ) {
		total += args[i];
	}
	return total;
}
</pre>
	</div>

	<div class="col-sm-6">
		<h2>JavaScript</h2>
<pre>
function add(arg1) {
	var args = [];
	for(var _i = 0; _i < arguments.length - 1, _i++ ) {
		args[_i] = arguments[_i+1];
	}
	var total = arg1;
	for( var i = 0; i < args.length; i++ ) {
		total += args[i];
	}
	return total;
}
</pre>
	</div>

</div>

<p class="slide-number text-right"></p>