<div class="col-md-12">

	<h1 class="text-center slide-title">Functions - Overloading</h1>

	<h3 style="color:#4e4e4e;margin-bottom:20px;">Functions in TypeScript can be overloaded. This means multiple type specific function declarations can share single type inspecific implementation.</h3>

	<div class="col-sm-6">
		<h2>TypeScript</h2>
<pre>
function add( x: number, y: number ): number;
function add( x: string, y: string ): string;
function add( x: any, y:any ): any {
	return x + y;
}
</pre>
	</div>

	<div class="col-sm-6">
		<h2>JavaScript</h2>
<pre>
function add( x, y ) {
	return x + y;
}


</pre>
	</div>

	<h3 style="color:#4e4e4e;margin-bottom:20px;">This version of the add function will accept either two numbers or two strings, returning a number or a string. A compiler error will occur if any other type of value is passed or if numbers and strings are mixed. Note this is only enforced by the compliler at complile time, at run time the JavaScript does not enforce typing.</h3>

</div>

<p class="slide-number text-right"></p>