<div class="col-md-12">

	<h1 class="text-center slide-title">Interfaces</h1>

	<ul class="col-lg-10 col-lg-offset-1 col-md-12 slide-list">
		<li>Named Types That Contain A List Of Members &amp; Functions</li>
		<li>Represent Complex Types About An Object</li>
		<li>Zero Runtime Impact <small>(analysed at complie time ommited from resulting JavaScript)</small></li>
		<li>Form A Contract For Developers, An Object That Implements An Interface Must Define All Interface Members &amp; Functions</li>
		<li>Open Ended Declarations &amp; Extendable Syntax Allows Creation Of Specialised Interfaces From Base Types</li>
		<li>Referenced As Type Parameters or Type Delcarations</li>
	</ul>

</div>

<p class="slide-number text-right"></p>