<div class="col-md-12">

	<h1 class="text-center slide-title">Interfaces <small><small>continued...</small></small></h1>

	<div class="row">

		<div class="col-sm-6">
			<h3>Extension <span style="color:#4e4e4e;">- IAdder and ISubtractor are extended by ICalculator meaning ICalculatot types must implement all members and functions of both IAdder and ISubtractor in addition to its own memebers and functions.</span></h3>
		</div>

		<pre class="col-sm-6">
interface IAdder {
	add( arg1: number, ..args: number[] ): number;
}
interface ISubtractor {
	subtract( arg1: number, ..args: number[] ): number;
}
interface ICalulator extends IAdder, ISubtractor {
	muliply( arg1: number, ..args: number[] ): number;
	divide( arg1: number, ..args: number[] ): number;
}
</pre>

	</div>

	<div class="row">

		<div class="col-sm-6">
			<h3>Open Ended Declaration <span style="color:#4e4e4e;">- The two versions of ICalculator are combined into a single interface when analysed by the compiler. This code is equivalent to the previous example.</span></h3>
		</div>

		<pre class="col-sm-6">
interface IAdder {
	add( arg1: number, ..args: number[] ): number;
}
interface ISubtractor {
	subtract( arg1: number, ..args: number[] ): number;
}
interface ICalulator extends IAdder {
	muliply( arg1: number, ..args: number[] ): number;
}
interface ICalulator extends ISubtractor {
	divide( arg1: number, ..args: number[] ): number;
}
</pre>
	
	</div>	

</div>

<p class="slide-number text-right"></p>