<div class="col-md-12">

	<h1 class="text-center slide-title">Classes</h1>

	<ul class="col-lg-10 col-lg-offset-1 col-md-12 slide-list">
		<li>ECMAScript 6 Proposes A Standard For Classes, TypeScript Bring This To The Current Version of JavaScript</li>
		<li>Consist Of A Variety Of Poperties &amp; Members (similar to interfaces)</li>
		<li>Members Are Either Public or Private &amp; Either Instance or Static Members</li>
		<li>Optional Constructor Method Sets Inital State Of The Class</li>
		<li>If No Constructor Implementation Is Provided The Compliler Automatically Generates One</li>
		<li>Default Values For Constructor Parameters Can Be Provided And The Compiler Generates Code To Implement Them Meaning They Can Be Treated As Optional Parameters</li>
	</ul>

</div>

<p class="slide-number text-right"></p>