<div class="col-md-12">

	<h1 class="text-center slide-title">Classes - Definitions</h1>

	<h3 style="color:#4e4e4e;">TypeScript class definiations look similar to interface definitions and are compiled into JavaScript closures.</h3>

	<div class="col-sm-6">
		<h2>TypeScript</h2>
<pre>
class Point {
	public x: number;
	public y: number;
	constructor( x: number, y : number = 0 ) {
		this.x = x;
		this.y = y;
	}
}
</pre>
	</div>

	<div class="col-sm-6">
		<h2>JavaScript</h2>
<pre>
var Point = (function () {
	function Point(x, y) {
		if( typeof y === "undefined" ) { y = 0; }
		this.x = x;
		this.y = y;
	}
	return Point;
})();
</pre>
	</div>

	<h3 style="color:#4e4e4e;margin-bottom:20px;">A new object is created that is assigned to an anonymous function that initialises the definition of the Point class. This anonymous function is then returned the the caller.</h3>

</div>

<p class="slide-number text-right"></p>