<div class="col-md-12">

	<h1 class="text-center slide-title">Classes - Implement Interfaces</h1>

	<h3 style="color:#4e4e4e;">TypeScript classed can implement one or more interfaces. If a class implements an inteface is must implement all the interfaces members or a complier error will occur.</h3>

	<div class="col-sm-6">
		<h2>TypeScript</h2>
<pre>
interface IPoint {
	x: number;
	y: number;
}

class Point implements IPoint {
	constructor( public x: number, public y = 0 ) {
	}
}
</pre>
	</div>

	<div class="col-sm-6">
		<h2>JavaScript</h2>
<pre>
var Point = (function () {
	function Point(x, y) {
		if( typeof y === "undefined" ) { y = 0; }
		this.x = x;
		this.y = y;
	}
	return Point;
})();

</pre>
	</div>

	<h3 style="color:#4e4e4e;margin-bottom:20px;">As interfaces are purly complile time constructs the JavaScript output here is the same as the previous example. Note the short hand constructor form. Decorating contructor parameters with public or private tells the compiler these are part of the object not just initialisation parameters.</h3>

	<h3 style="color:#4e4e4e;">Classes can implement multiple interfaces by providing a comma seperated list is interface names.</h3>

</div>

<p class="slide-number text-right"></p>