<div class="col-md-12">

	<h1 class="text-center slide-title">Classes - Instance &amp; Static Members</h1>

	<ul class="col-lg-10 col-lg-offset-1 col-md-12 slide-list">
		<li>Class Members Are Either Instance or Static Members.</li>
		<li>Instance Members Can Only Be Referenced By An Instantiated Object Of The Class Tpye.</li>
		<li>Static Members Can Be Accessed At Anytime By Referencing The Named Class Type.</li>
		<li>Static Members Are Created By Decorating Members With The "static" Keyword When Declared.</li>
		<li>Instance Member Functions Have Access To The "this" Object Allowing Them Easy Access To All Object Members And Are Placed On The Objects Static Prototype So One Declaration Is Used For All Instances</li>
	</ul>

</div>

<p class="slide-number text-right"></p>