<div class="col-md-12">

	<h1 class="text-center slide-title">Classes - Instance &amp; Static Members <small><small>continued...</small></small></h1>

	<div class="col-sm-6">
		<h2>TypeScript</h2>
<pre>
interface IBounds {
	location: IPoint;
	height: number;
	width: number;
	size(): number;
}

class Bounds implements IBounds {
	public location: IPoint = new Point( 0, 0 );
	public height: number = 0;
	public width: number = 0;
	public size(): number {
		return this.height * this.width;
	}
}
</pre>
	</div>

	<div class="col-sm-6">
		<h2>JavaScript</h2>
<pre>
var Bounds = ( function() {

	function Bounds() {
		this.location = new Point( 0, 0 );
		this.height = 0;
		this.width = 0;
	}

	Bounds.prototype.size = function() {
		return this.height * this.width;
	}

	return Bounds;
})();

</pre>
	</div>

</div>

<p class="slide-number text-right"></p>