<div class="col-md-12">

	<h1 class="text-center slide-title">Classes - Properties</h1>

	<ul class="col-lg-10 col-lg-offset-1 col-md-12 slide-list">
		<li>The ECMAScript 5 specification allows us to define class properties <small>(must be compliled with ECM5 option set)</small></li>
		<li>These are instance members that are accessed through getter and setter methods</li>
		<li>They are accessed as if they were normal members e.g. <code>this.height = 0</code>, except in the background the corresponding getter or setter is called</li>
		<li>Properties satisfy the implementation requirement of interface members ar complile time</li>
		<li>The compiled JavaScript used the <code>Object.defineProperty()</code> method to add the property to the objects prototype</li>
	</ul>

</div>

<p class="slide-number text-right"></p>