<div class="col-md-12">

	<h1 class="text-center slide-title">Classes - Properties <small><small>continued...</small></small></h1>

	<div class="row">
		<div class="col-sm-6">
			<h2>TypeScript</h2>
<pre>

class Bounds {
	private _height: number = 0;

	get Height(): number {
		return this._height;
	}

	set Height( value: number ): void {
		this._height = ( value > 0 ) ? value : 0;
	}
}
</pre>
		</div>

		<div class="col-sm-6">
			<h2>JavaScript</h2>
<pre>
var Bounds = ( function() {

	function Bounds() {
		this._height = 0;
	}

	Object.defineProperty( Bounds.prototype, "Height", {
		get: function() {
			return this._height;
		},
		set: function( value ) {
			this._height = (value > 0) ? value : 0;
		},
		enumerable: true,
		configurable: true
	});

	return Bounds;
})();
</pre>
		</div>
	</div>
</div>

<p class="slide-number text-right"></p>