<div class="col-md-12">

	<h1 class="text-center slide-title">Modules</h1>

	<ul class="col-lg-10 col-lg-offset-1 col-md-12 slide-list">
		<li>TypeScript supports the use of both internal and external modules</li>
		<li>Internal modules represent a namespace in which class, interfaces, variables, other code segments and other namespaces exist</li>
		<li>They are created inside a closure like classes but get assigned to a global variable instead of returning a function</li>
		<li>Provide a mechanism to encapsulate private members and keep objects off the global namespace</li>
		<li>Only declarations that are exported with the <code>export</code> keyword are available outside the module</li>
	</ul>

</div>

<p class="slide-number text-right"></p>