<div class="col-md-12">

	<h1 class="text-center slide-title">Modules <small><small>continued...</small></small></h1>

	<ul class="col-lg-10 col-lg-offset-1 col-md-12 slide-list">
		<li>Module declarations are open end meaning we can declare the same module in two or more sections and the compiler will handle combining this to a single module</li>
		<li>A module can export another module allowing nesting of namespaces <code>Animal.Mammal.monkey; Animal.Reptile.snake;</code></li>
		<li>A module can import an exported member from another module using the <code>import</code> keyword aliasing the imported member</li>
		<pre>import SnakeAlias = Animal.Reptile.snake;</pre>
		<li>TypeScript supports various implmentations of JavaScript modules (commonJS, requireJS) using compiler options to generate the correct code</li>
	</ul>

</div>

<p class="slide-number text-right"></p>