<div class="col-md-12">

   <h1 class="text-center slide-title">Types &amp; Language Constructs</h1>

   <h3 style="color:#4e4e4e;margin-bottom:40px;">In additon the the static type system TypeScript adds a number of other language constructs to JavaScript as well as providing imporvements to some existing ones.</h3>

   <ul class="col-lg-5 col-lg-offset-1 col-sm-6 list-group slide-list-list-group text-center">
		<li class="list-group-item"><h3>Static Type System</h3></li>
		<li class="list-group-item"><h3>Interfaces</h3></li>
		<li class="list-group-item"><h3>Enums</h3></li>
		<li class="list-group-item"><h3>Modules</h3></li>
	</ul>

	<ul class="col-lg-5 col-sm-6 list-group slide-list-list-group text-center">
		<li class="list-group-item"><h3>Functions</h3></li>
		<li class="list-group-item"><h3>Classes</h3></li>
		<li class="list-group-item"><h3>Generics</h3></li>
		<li class="list-group-item"><h3>Declaration Files</h3></li>
	</ul>

</div>

<p class="slide-number text-right"></p>