<div class="col-md-12">

	<h1 class="text-center slide-title">TypeScript Compiler</h1>

	<ul class="col-lg-10 col-lg-offset-1 col-md-12 slide-list">
		<li>Installation &amp; IDE Integration</li>
		<li>Command Line Compilation</li>
		<li>ECMAScript Versions</li>
		<li>Code Manipulation</li>
		<li>Combine Files &amp; Output Control</li>
		<li>Advanced Options &amp; Automation</li>
	</ul>

</div>

<p class="slide-number text-right"></p>