<div class="col-md-12">

	<h1 class="text-center slide-title">TypeScript Compiler <small><small>continued...</small></small></h1>

	<div class="col-sm-6">
		<h2>Installation &amp; IDE Integration</h2>
		<ul class="slide-list">
			<li>The compiler is plain JavaScript and can therefore be run anywhere a JavaScript host exists</li>
			<li>Standalone packages are availabel for Node.js and Visual Studio</li>
			<li>Source code also available on github <a href="https://github.com/Microsoft/TypeScript" target="_blank">https://github.com/Microsoft/TypeScript</a></li>
			<li>Extentions are availabel for a number of IDE's including Eclipse, Sublime Text and PHPStorm</li>
		</ul>
	</div>

	<div class="col-sm-6">
		<h2>Command Line Compilation</h2>
		<ul class="slide-list">
			<li>Runs on the command line (tcs command)</li>
			<li>Command line compilation offers the most robust configurable compilation option</li>
<pre>
$ cd ~/typescript_project/
$ tsc hello_world.ts
</pre>
			<li>This command compiles hello_world.ts to hello_world.js in the current working directory</li>
			<li>Errors are writtent to stdout</li>
		</ul>
	</div>

</div>

<p class="slide-number text-right"></p>