<div class="col-md-12">

   <h1 class="text-center slide-title">TypeScript Compiler - ECMAScript</h1>

   <ul class="col-lg-10 col-lg-offset-1 col-md-12 slide-list">
		<li>JavaScript is an implmentationn of the ECMAScript standard</li>
		<li>Current standard version for ECMAScript is 5 (2009)</li>
		<li>The final draft of ECMAScript 6 has been published but this is still experimental</li>
		<li>Compiler defaults to ECMAScript 3 for legacy browser support</li>
		<li>Can compile against ECMAScript 5 or ECMAScript 6 (experimental) using the optional <code>--target ES5/ES6</code> parameter</li>
		<li>ECMAScript 5 introduced "strict" mode which provided a stricter set of semantic language rules</li>
		<li>In TypeScript "strict" mode is less significant, the compliler enforces most rules</li>
	</ul>

</div>

<p class="slide-number text-right"></p>