<div class="col-md-12">

   <h1 class="text-center slide-title">TypeScript Compiler <small>Code Manipulation &amp; Output</small></h1>

   <ul class="col-lg-10 col-lg-offset-1 col-md-12 slide-list">
		<li>Remove comments <code>--removeComments</code></li>
		<li>External module compatability <code>--module commonjs | amd</code></li>
		<li>Enforce strong typing <code>--noImplicitAny</code></li>
		<li>Multiple files individual output <code>$ tsc file1.ts file2.ts</code></li>
		<li>Output to directory <code>$ tsc --outDir ~/app/ts/ file1.ts file2.ts</code></li>
		<li>Combine multiple files <code>$ tsc --out combined.js file1.ts file2.ts</code></li>
		<li>Generate source map files for debugging <code>--sourceMap</code></li>
		<li>Generate declaration files (.d.ts) <code>--declaration</code></li>
	</ul>

</div>

<p class="slide-number text-right"></p>