<div class="col-md-12">

   <h1 class="text-center slide-title">TypeScript Compiler - Combine Files</h1>

   <ul class="col-lg-10 col-lg-offset-1 col-md-12 slide-list">
		<li>Combine multiple files <code>$ tsc --out combined.js file1.ts file2.ts</code></li>
		<li>Order is important, the order the input ts files are listed in the complie cammand deictates the order of the compiled code</li>
		<li>This convention can be overridden by adding "reference path" constructs to the start of files</li>
		<pre>/// &lt;reference path="utilities.ts" /&gt;</pre>
		<li>This tells the compiler that utilities.ts is should be compiled before the code in the file</li>
		<li>These declarations must be at the start of the file, once the compiler hits the first block of execution code subequence references will be ignored</li>
	</ul>

</div>

<p class="slide-number text-right"></p>