<div class="col-md-12">

	<h1 class="text-center slide-title">TypeScript Compiler <small>Advanced Options &amp; Automation</small></h1>

	<ul class="col-lg-10 col-lg-offset-1 col-md-12 slide-list">
		<li>We can pass a text file to the compiler in place of multiple parameters</li>
		<li>The text file must contain a list of valid compiler options and ts files that instruct the compiler what to do <code>$ tsc @compileOptions.txt</code></li>
<pre>
--noImplicitAny
--out output.js
--target ES5
utils.ts
app.ts
</pre>
		<li>The compiler provides a <code>--watch <files></code> option to watch as set of files and auto compile when changes occur</li>
		<li>Gulp also offers a worlflow for automated compilation</li>
	</ul>

</div>

<p class="slide-number text-right"></p>