<div class="col-md-12">

	<h1 class="text-center slide-title">OOP With TypeScript</h1>

	<ul class="col-lg-10 col-lg-offset-1 col-md-12 slide-list">
		<li>JavaScript is not an object oriented language, however closures can be used object oriented concepts to JavaScript</li>
		<li>TypeScipt can be considered and object-oriented langues due the the constructs it introduces on top of JavaScript closusers</li>
		<li>TypeScript has specific implmentations of the four principle OOP concepts</li>
		<ul>
			<li>Inheritance</li>
			<li>Encapsulation <small>Public &amp; Private Members</small></li>
			<li>Abstraction</li>
			<li>Polymorphism</li>
		</ul>
	</ul>

</div>

<p class="slide-number text-right"></p>