<div class="col-md-12">

	<h1 class="text-center slide-title">OOP With TypeScript <small>Inheritance</small></h1>

	<ul class="col-lg-10 col-lg-offset-1 col-md-12 slide-list">
		<li>In TypeScript a class can "inherit" all members of another calss by extending it</li>
		<li>This allows us to create generic base classes that are extended to create move specific class by adding or overriding member in the subclass</li>
		<li>TypeScript supports single inhertnace, meaning a class can only extend a single class</li>
		<li>Mulitple inheritance can be achieved through an inheritance chain where class b extends class a and then class c extends class b. The resulting class c has all members from both classes a and b</li>
		<li>The TypeScript compiler injects a segment of code to handle inheritance</li>
	</ul>

	<p class="col-sm-12">Example Files: inheritance_example.ts, inheritance_example.js</p>

</div>

<p class="slide-number text-right"></p>