<div class="col-md-12">

	<h1 class="text-center slide-title">OOP With TypeScript <small>Abstraction</small></h1>

	<ul class="col-lg-10 col-lg-offset-1 col-md-12 slide-list">
		<li>TypeSCript does not give us the abstract keyword or a speciic implementation</li>
		<li>Abstraction can be implemented by declaring an abstact class that has method signatures with implmentations that just throw an error forcing us to extend the class and properly implement the method</li>
	</ul>

	<div class="col-sm-6">
<pre>
class AbstractClass {
	constructor() {
	}
	public checkStatus(): boolean {
		throw new Error( "Not Implemented" );
	}
}


</pre>
	</div>

	<div class="col-sm-6">
<pre>
class ConcreteClass extends AbstractClass {
	private _isActiveL boolean = false;
	constructor() {
		super();
	}
	public checkStatus(): boolean {
		return this._isActive;
	}
}
</pre>
	</div>

</div>

<p class="slide-number text-right"></p>