<div class="col-md-12">

	<h1 class="text-center slide-title">OOP With TypeScript <small>Polyorphism</small></h1>

	<ul class="col-lg-10 col-lg-offset-1 col-md-12 slide-list">
		<li>TypeScript allows polymorphism in the form of method overloading and overriding</li>
		<li>Operator overloading is not part of the TypeScript/JavaScript languages</li>
	</ul>

	<div class="col-sm-6 col-sm-offset-3">
<pre>
class Communicator {
	public speak( msg: string );
	public speak( msg: number );
	public speak( msg: boolean );
	public speak( msg: any ) {
		if( typeof msg === "number" ) {
			alert( "The number is " + msg );
		} else if ( typeof msg === "string" ) {
			alert( "The string is " + msg );
		} else if ( typeof msg === "boolean" ) {
			alert( "The boolean is " + msg );
		} else {
			alert( msg );
		}
	}
}
</pre>
	</div>

</div>

<p class="slide-number text-right"></p>