<div class="col-md-12">

	<h1 class="text-center slide-title">Declaration Files &amp; External Libraries</h1>

	<ul class="col-lg-10 col-lg-offset-1 col-md-12 slide-list">
		<li>Declaration files are a special type of TypeScript file with the .d.ts extension</li>
		<li>Contain type declarations but no implementation details and produce no output</li>
		<li>Provide type information for other JavaScript libraies such as jQuery</li>
		<li>Allow interaction with these external libs in a strongly typed fashion</li>
		<li>The compiler can create declaration files from out ts to use in other projects</li>
		<li>Use <code>/// &lt;reference path="jquery.d.ts" /&gt;</code> syntax to include</li>
		<li><a href ="http://definitelytyped.org" target="_blank">DefinitelyTyped</a> project provides declaration files for 1000+ js libraries</li>
	</ul>

</div>

<p class="slide-number text-right"></p>