<div class="col-md-12">

	<h1 class="text-center slide-title">jQuery Demo</h1>

	<div class="row">
		<div class="col-sm-6">
			<h2>TypeScript</h2>
<pre>
/// &lt;reference path="typings/jquery.d.ts" /&gt;
$(() => {
	$("#hideButton").click((e) => {
		$('#colorPanel').hide(1000);
	});

	$("#showButton").click((e) => {
		$('#colorPanel').show(1000);
	});
});
</pre>
		</div>

		<div class="col-sm-6">
			<h2>JavaScript</h2>
<pre>
/// &lt;reference path="typings/jquery.d.ts" /&gt;
$(function () {
    $("#hideButton").click(function (e) {
        $('#colorPanel').hide(1000);
    });

    $("#showButton").click(function (e) {
        $('#colorPanel').show(1000);
    });
});
</pre>
		</div>
	</div>

	<div class="text-center">
		<a class="btn btn-primary btn-lg text-center" style="margin-top:20px;" href="slides/typescript_tech_lunch/9_declaration_ext_libs/index.html" target="_blank">jQuery Demo</a>
	</div>

</div>

<p class="slide-number text-right"></p>